body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: Calibri, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

h2 {
    color:  #003572;
}

a{
    color:  #326bca;
}
