<html>

<head>
    <title>Apps OncallRota</title>
</head>

<body>

<!-- <br><br> -->

<div style="border:0 border-collapse: collapse; width: 700px;">
    <img style="padding-left: 100px" border="0" src="\axa_technology_services.jpg">
    <br/>
    <h2>Application Services UK Oncall Rotas</h2>
</div>

Oncall Route Template
<br/>
Rota: {{ rota }}
<br/><br/>

</body>
</html>