{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Home{% endblock %}

{% block content %}

<div style="border:0 border-collapse: collapse; width: 700px;">
    <img style="padding-left: 100px" border="0" src="\axa_technology_services.jpg">
    <br/>
    <h2>Application Services UK Oncall Rotas</h2>
</div>

{{ title }}
<br/>

Rota: {{ rota }}
<br/><br/>
<table>
    <tr>
        <td width="10%">&nbsp;</td>
        {% set count=1 %}
        {% for time in months  %}
            {% set monthtime = months[count] %}
            <td>
            {{ include('calendar.twig') }}
            </td>

            {% if count % 3 == 0 %}
                </tr><tr>
                <td width="10%">&nbsp;</td>
            {% endif %}
        {% set count = count +1 %}
        {% endfor %}
    </tr>
</table>


{% endblock %}